<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Tienda en Linea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pagina de la leccion 2" />
        <meta name="keywords" content="html5, css, web, fidelitas" />
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- esta etiqueta indica al navegador que es un encabezado -->
        <a th:hreaf="@{/nuevoCliente}">Nuevo Cliente</a> 
        <br/>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Clientes</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <div th:if="${Clientes != null and !Clienres.empty">
            <table border="1">
                <thead>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="cliente: ${clientes}">
                        <td th:text="${cliente.nombre"></td>
                        <td th:text="${cliente.apellidos"></td>
                        <td th:text="${cliente.correo"></td>
                        <td th:text="${cliente.telefono"></td>
                        <td><a th:href="@{/modificarCliente/} + ${cliente.idCliente}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente/} + ${cliente.idCliente}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            La linea está vacía...     
        </div>    
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
