<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <header th:replace="layout/plantilla :: header"/>
    <div class="contenido">
        <h2>Datos de Cliente</h2>
        </br>
        <a th:href="@{/cliente/listado}">Regresar</a>
        </br>
        </br>
        <form th:action="@{/cliente/guardar}"
              method="POST"
              th:object="${cliente">
            <input type="hidden" name="idCliente" th:field="*{idCliente}" />
            <label for="nombre">Nombre:</label><br/>
            <input type="text" name="nombre" th:field="*{nombre}" />            
            <label for="apellidos">Appelidos:</label><br/>
            <input type="text" name="apellidos" th:field="*{apellidos}" />            
            <label for="correo">Correo:</label><br/>
            <input type="email" name="correo" th:field="*{correo}" />            
            <label for="telefono">Telefono:</label><br/>
            <label for="limite">Limite:</label><br/>
            <input type="number" name="limite" th:field="*{credito.limite}" /><br/> 
            <input type="submit" name="Guardar" value="Guardar" />
        </form>

</html>
